doctype html
html
    head
        title="Strona dla zalogowanych"
    body
        p.greetings#people Witaj!
        p Ta strona dostępna jest tylko dla zalogowanych użytkowników
        a(href="/") Jeśli chcesz, wyloguj się.